.test{
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 500px;
    margin-bottom: 210px;

}

.isolayer{
    margin-top: 215px;
    right: 260px;
    bottom: 200px;
/*    top: 400px;*/
}

#weatherslider {
    position: absolute;
    width: 300px;
    height: 350px;	
    margin-right: 40px;
    top:10px;
}

#modal {
    position: absolute;
    background: black;
    z-index: 99999;
    height: 60%;
    width: 97%;
    margin-top: 300px;
    margin-left: 5px;
    top: 120px;
}

#myvideo{
    width: 290px;
    height: 260px;
}

#divToShowHide{
    position: absolute;
}
/*@media screen and (max-width: 568px){
    #side{
        right:170px;
        top:55px;
    }
}*/

/*iphone 5 in portrait & landscape*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : portrait)
{ 
  #side{
    right:160px;
    top:55px;
  }
  
  #weatherslider {
        position: absolute;
        max-width: 100%;
        margin-right: 40px;
        width: 750px;
        top:30px;
    }
    
/*    .test{
        float: left;
        margin: 5px;
        padding: 15px;
        max-width: 100%;
        height: 420px;
        width: 750px;
        margin-bottom: 210px;
    }*/
    
  .isolayer{
    margin-top: 300px;
    left: -130px;

  }
  #myvideo{
    position: absolute;
    width: auto;
    height: 260px;
  }
  
  #modal {
    position: absolute;
    background: black;
    z-index: 99999;
    height: 50%;
    width: auto;
    margin-top: 300px;
    margin-left: -15px;
    top: 120px;
  }
  
  .threesixty img{
    width:250px;
  }


   #item-details{
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
    margin-top: 30px;
  }
  
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }

    #modal-container .modal-background .modal {
        background: white;
        padding: 10px;
        display: inline-block;
        border-radius: 3px;
        font-weight: 300;
        position: relative;
    }

    #modal-container .modal-background .modal h1 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    
    #modal-container .modal-background .modal h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    
    .flex-grid {
        display: block;
      }
      .col {
        flex: 1;
      }

}

/*iphone 6 in portrait & landscape*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
{
    #side{
          right:220px;
          top:55px;
    } 
    
    #weatherslider {
        position: absolute;
        max-width: 100%;
        margin-right: 40px;
        top:30px;
    }
    
    .test{
        float: left;
        margin: auto;
        padding: 15px;
        max-width: 100%;
        width: 750px;
    }
  
  .isolayer{
    margin-top: 300px;
    right: 265px;
   }
   
   #myvideo{
    position: absolute;
    width: auto;
    height: 245px;
  }
  
    #modal {
      position: absolute;
      background: black;
      z-index: 99999;
      height: 42%;
      width: auto;
      margin-top: 300px;
      margin-left: -15px;
      top: 120px;
    }
 
}

/*iphone 6 plus in portrait & landscape*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
{ 
    #side{
        right:255px;
        top:55px;
    }  
    
    #weatherslider {
        position: absolute;
        max-width: 100%;
        top:30px;
    }
    
    .test{
        float: left;
        margin: auto;
        padding: 15px;
        max-width: 100%;
        width: 750px;
    }
    
    #myvideo{
    position: absolute;
    width: auto;
    height: 275px;
  }
  
    #modal {
      position: absolute;
      background: black;
      z-index: 99999;
      height: 42%;
      width: auto;
      margin-top: 300px;
      margin-left: -20px;
      top: 120px;
    }
}

/*ipad in portrait & landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{ 
    #side{
        right:600px;
        top:55px;
    }  
    
    #weatherslider {
        position: absolute;
        max-width: 100%;
        margin-right: 40px;
        width: 750px;
    }
    
    .isolayer{
        margin-top: 255px;
        left: 5px;
    }
    
    .test{
        float: left;
        margin: 5px;
        padding: 15px;
        max-width: 100%;
        width: 750px;
    }
    
    #myvideo{
        position: absolute;
        width: auto;
        height: 405px;
  }
  
    #modal {
        position: absolute;
        background: black;
        z-index: 99999;
        height: 42%;
        width: auto;
        margin-top: 530px;
        margin-left: 20px;
        top: 120px;
    }
}

/*ipad pro in portrait & landscape*/
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)  
{ 
    #side{
        right:830px;
        top:115px;

    }  
    
    #weatherslider {
        position: absolute;
        max-width: 100%;
        margin-right: 40px;
        width: 1250px;
        top:75px;
    }
    
    .isolayer{
        margin-top: -85px;
        left:-300px;
    }
    
    .test{
        float: left;
        margin: auto;
        padding: 15px;
        max-width: 100%;
        width: 1250px;
    }
    
    #myvideo{
        position: absolute;
        width: auto;
        height: 540px;
        top:170px;
  }
  
    #modal {
        position: absolute;
        background: black;
        z-index: 99999;
        height: 42%;
        width: auto;
        margin-top: 530px;
        margin-left: 30px;
        top: 120px;
    }
}

/*
@media screen and (min-width: 500px),(max-width: 800px){
    #side{
        right:250px;
        top:50px;
    }
}*/
